#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.seccion-login {
  display: flex;
}

.card {
  width: 50%;
}

.card-form {
  display: flex;
  flex-direction: column;
}

.logo-clean-stock {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}